.Posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    padding: 50px 50px 0;
}
.Blog .control-action{
    display: block;
}
.Blog label{
    display: block;
}
.Blog input,.Blog select, .Blog textarea{
    width: 300px;
    box-sizing: border-box;    
    border: solid 1px #999;
}
.Blog input,.Blog select{
    padding: 0 15px;
    line-height: 30px;
}
.Blog textarea{
    padding: 15px;
}
.Blog button{
    line-height: 30px;
    width: 300px;
    margin-bottom: 20px;
}
.control-action{
    margin-top: 20px;
}