.checkout-item .no-item{
    text-align: center;
    padding: 80px 0;
}
.checkout-item .no-item .action{
    background-color: #333;
    color: #fff;
}
.checkout-item .no-item .action:hover{
    background-color: transparent;
    color: #333;
}
.checkout-item .image-wrapper{
    width: 100px;
}
.checkout-item table{
    width: 70%;
    margin: auto;
}
.checkout-item .with-item{
    padding: 50px 0;
}
.checkout-item table thead th{
    border-bottom: solid 1px #ddd;
    padding: 5px;
    box-sizing: border-box;
}
.checkout-item table tbody td{
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}
.checkout-item table tbody tr:not(:last-child) td{
    border-bottom: solid 1px #ddd;
}
.checkout-item table .action{
    background-color: #333;
    border: none;
    color:#fff;
    line-height: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    padding: 0px 5px;
}
.checkout-item table .quantity >*:not(:last-child){
    margin-right: 20px;
}
.checkout-item table .action.remove{
    font-size: 0;
    position: relative;
}
.checkout-item table .action.remove:before,.checkout-item table .action.remove:after{
    content: "";
    position: absolute;
    top:50%;
    left:50%;
    width: 10px;
    height: 1.5px;
    background-color: #fff;
}   
.checkout-item table .action.remove:before{
    transform: translate(-50%,-50%) rotate(45deg);
}
.checkout-item table .action.remove:after{
    transform: translate(-50%,-50%) rotate(-45deg);
}