.information{
    color:#333;
}
.information .title{
    font-size: 25px;
}
.login-form{  
    display: inline-block;
    padding: 20px 30px;
    border: solid 1px #999;
    border-radius: 5px;
}
.login-form .label{
    display: block;
    margin-bottom: 7px;
    text-align: start;
}
.login-form input{
    width: 250px;
    max-width: 100%;
    line-height: 30px;
    border:solid 1px #999;
    padding: 0 15px;
}
.login-form .info:not(:first-child){
    margin-top: 15px;
}
.action-control{
    margin-top: 30px;
}
.action-btn{
    border: solid 1px #333;
    width: 150px;
    line-height: 30px;
    background: #333;
    color: #fff;
    border-radius: 3px;
    max-width: 100%;
    cursor: pointer;
    transition: all .4s ease;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1.5px;
}
.action-btn:hover{
    background: #fff;
    color:#333;
}