button {
  background-color: transparent;
  border: solid 1px #333;
  line-height: 30px;
  height: 30px;
  padding: 0 20px;
  cursor: pointer;
}
button:disabled{
  cursor: not-allowed;
  opacity: .8;
}
input {
  border: solid 1px #333;
  line-height: 30px;
  box-sizing: border-box;
  height: 30px;
}
